<div class="container-sm" style="margin: 30px; width: 400px; height: 300px;">
  <div class="card">
    <div class="card-body">
      <h1>My tasks</h1>

      <% @tasks.each do |task| %>
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              <%= link_to task.name, task_path(task) %>
          </li>
        </ul>
      <% end %>
      <div style="margin: 10px 0px">
        <%= link_to "New", tasks_new_path, class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
</div>